@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #2b88f0;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
}
h3 {
  color: #fff;
  margin: 10px 0 20px;
  text-align: center;
}
.container {
  width: 700px;
}
.textarea {
  border: 0;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 20px;
  outline: 0;
  overflow: auto;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4), 1px 3px 3px rgba(0, 0, 0, 0.8);
  border-radius: 7px;
}
.tag {
  background-color: #f0932b;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 18px;
  display: inline-block;
}
.tag.highlight {
  background-color: #273c75;
}
